/* || GENERAL */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --dark-orange: #F16718;
    --light-orange: #FF9B62;
    --dark-gray: #162542;
    --gray: #7B8BAD;
    --light-gray: #E8EFF2;
    --white: #FFFFFF;
}

body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--gray);
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark-gray);
}

/* || BUTTONS */

.preorder-btn {
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
    padding: 0.688rem 0.875rem;
    min-width: 9.375rem;
    min-height: 3rem;
    cursor: pointer;
}

.preorder-btn--orange {
    background-color: var(--dark-orange);
    color: var(--white);
}

.preorder-btn--orange:hover {
    background-color: var(--light-orange);
}

.preorder-btn--gray {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.preorder-btn--gray:hover {
    background-color: var(--dark-gray);
    color: var(--white);
}

/* || HEADER */
header {
    display: flex;
    margin: 1.5rem 1.5rem 4rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}

/* || HERO */
.hero {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-areas:
        "details"
        "image";

}

.hero__details {
    margin: 0 1.5rem 4rem 1.5rem;
}

.hero__title {
    font-size: 3rem;
    line-height: 3rem;
}

.hero__description {
    margin: 2rem 0 2rem 0;
}

.hero__cta {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero__img-container {
    overflow: hidden;
}

.hero__img {
    border-radius: 1.25rem;
    margin-left: 1.5rem;
    width: 100%;
}

.release-date-info {
    text-transform: uppercase;
}

/* || PRODUCT SUMMARY SECTION */

.product-summary {
    display: grid;
    max-width: 100vw;
    text-align: center;
    grid-template-areas: 
      "left-img right-img right-img"
      "title title title"
      "desc desc desc";
}

.gray-square {
    display: none;
}

.product-summary__img-container {
    overflow: hidden;
    max-height: 12.0623rem;
}

.product-summary__img-inner-container {
    height: 100%;
    position: relative;
    left: -1rem;
    overflow: hidden;
    border-radius: 1.25rem;
}

.product-summary__img-inner-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-orange);
    opacity: .7;
}

.product-summary__img-container--right {
    grid-area: right-img;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
}

.product-summary__img-container--left {
    grid-area: left-img;
}

.product-summary__img--left {
    object-fit: cover;
}

.product-summary__img {
    border-radius: 1.25rem;
    height: 100%;
    width: 100%;
}

.product-summary__title {
    grid-area: title;
    font-size: 2rem;
    line-height: 2.25rem;
    margin: 4.6875rem 3.75rem 1.5rem 3.75rem;
}

.product-summary__desc {
    grid-area: desc;
    margin: 0 1.5rem 0 1.5rem;
}

/* || FEATURES */

.features {
    display: grid;
    gap: 4rem;
    text-align: center;
    margin: 6.875rem 1.5rem 0 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(15.9375rem, 1fr));
}

.feature__icon {
    height: 4.0625rem;
    width: 4.0625rem;
    border-radius: 1rem;
    background: var(--dark-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.feature__title {
    font-size: 1.5em;
    line-height: 1.75rem;
    margin: 3rem 0 1.5rem 0;
    padding: 0 3.75rem;
}

.span-block {
    display: block;
}

/* || FOOTER */

footer {
    margin: 6rem 0 3.125rem 0;
    text-align: center;
}

/* || TABLET STYLES */
@media (min-width: 768px) and (max-width: 1439px) {
    
    header {
        margin: 2.5rem 2.5rem 3.875rem 2.5rem;
    }

    .preorder-btn {
        padding: 1rem 1.625rem;
        min-width: 10.938rem;
        min-height: 3.625rem;
    }

    .hero {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .hero__details {
        margin: 0 0 0 2.428rem;
    }

    .hero__description {
        margin: 2.125rem 0 2.438rem 0;
    }

    .hero__cta {
        gap: 2.313rem;
    }

    .hero__img {
        margin-left: 4.313rem;
    }

    .product-summary {
        padding: 0 2.5rem 0 2.438rem;
        text-align: left;
        grid-template-areas: 
            "left-img right-img right-img"
            "title desc desc";
    }

    .product-summary__img-container {
        max-height: 20rem;
    }

    .product-summary__img-inner-container {
        left: 0;
    }
    
    .product-summary__img-container--right {
        padding-left: 0;
        padding-right: 0;
        width: 27.813rem;
    }

    .product-summary__img-container--left {
        width: 13.375rem;
        margin-right: 1.875rem
    }

    .product-summary__img--left {
        object-fit: fill;
    }

    .product-summary__title {
        margin: 4.5rem 0 0 0;
    }

    .product-summary__desc { 
        margin: 4.5rem 0 0 3rem;
    }

    .features {
        row-gap: 4.5rem;
        column-gap: 4.313rem;
        text-align: left;
        margin: 8.875rem 6.063rem 0 2.438rem;
    }

    .feature {
        padding: 0 2.15em 0 0;
    }

    .feature__icon {
        margin: initial;
    }
    
    .feature__title {
        padding: 0 1.75rem 0 0;
    }
    
    footer {
        margin: 8.875rem 0 2.688rem 0;
    }
}

/* || DESKTOP STYLES */
@media (min-width: 1440px) {

    header {
        margin: 3.438rem 10.313rem 5.188rem 10.313rem;
    }

    .preorder-btn {
        padding: 1rem 1.625rem;
        min-width: 10.938rem;
        min-height: 3.625rem;
    }

    main {
        overflow: hidden;
    }

    .gray-square {
        display: initial;
        background-image: url("assets/shared/pattern-square.svg");
        background-size: cover;
        border-radius: 1.25rem;
        width: 15.938rem;
    }
    
    .hero {
        margin: 0 0 1.875rem 0;
        grid-template-areas:
            "details details image image gray-hero"
            "details details image image .";
        grid-template-rows: 1fr 1fr;
        gap: 1.875rem;
        position: relative;
        right: -8.438rem;
    }

    .gray-square--hero {
        grid-area: gray-hero;
        min-height: 15rem;
    }

    .hero__details {
        grid-area: details;
        margin: 0 0 0 0.9375rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 27.813rem;
    }

    .hero__title {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .hero__description {
        font-size: 1.125rem;
        margin: 1.5rem 0 2.5rem 0;
    }

    .hero__img-container {
        grid-area: image;
        width: calc((100vw*3)/8);
        margin: 0 0 0 4rem;
    }

    .hero__img {
        margin: 0;
    }

    .product-summary {
        padding: 0;
        text-align: left;
        grid-template-areas: 
          ". left-img right-img right-img title"
          "gray-ps left-img right-img right-img desc";
        grid-template-rows: 1fr 1fr;
        gap: 1.875rem;
        position: relative;
        left: -8.438rem;
    }

    .gray-square--product-summary {
        grid-area: gray-ps;
        max-height: 30rem;
    }

    .product-summary__img-container {
        overflow: hidden;
        max-height: 30rem;
    }

    .product-summary__img-inner-container {
        left: 0;
    }
    
    .product-summary__img-container--right {
        padding-left: 0;
        padding-right: 0;
        width: 27.813rem;
    }

    .product-summary__img-container--left {
        width: 15.938rem;
    }

    .product-summary__img--left {
        object-fit: fill;
    }

    .product-summary__title {
        margin: 0 0 0 5.938rem;
        align-self: end;
    }
    
    .product-summary__desc {
        margin: 0 2.5rem 0 5.938rem;;
        padding-top: 1.688rem;
    }

    .features {
        gap: 0;
        text-align: left;
        margin: 10.5rem 10.313rem 0 10.313rem;
    }
    
    .feature {
        padding: 0 3.75rem 0 0;
    }

    .feature__icon {
        margin: initial;
    }
    
    .feature__title {
        padding: 0;
    }

    footer {
        margin: 8rem 0 1.438rem 0;
    }
}